{
    "username": "admin",
    "password": "{{ passwords.portainer_admin }}",
    "ldap": {
        "enabled": {{ 'true' if portainer.ldap.enabled else 'false' }} {% if portainer.ldap.enabled %},
        "host": "{{ ldap_container.alias }}:389",
        "port": 389,
        "user": "cn=admin,{{ ldap.domain }}",
        "password": "{{ passwords.ldap_admin }}",
        "base": "{{ ldap_users.dn }}",
        "filter": "(memberOf={{ portainer_ldap.dn }})",
        "user_attribute": "uid"
{% endif %}
    }
}
