[submodule "docs/themes/hugo-theme-learn"]
	path = docs/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn
[submodule "containers/jupyterhub-ldap"]
	path = containers/jupyterhub-ldap
	url = https://github.com/matusnovak/jupyterhub-ldap.git
[submodule "containers/aria2-traefik"]
	path = containers/aria2-traefik
	url = https://github.com/m1k1o/aria2-traefik.git
[submodule "containers/ovpn-nodejs"]
	path = containers/ovpn-nodejs
	url = https://github.com/m1k1o/ovpn-nodejs
