version: "3.7"
networks:
  default:
    external:
      name: "homelab_base_default"
services:
  drone:
    image: "drone/drone:${DRONE_VERSION}"
    restart: "unless-stopped"
    environment:
      DRONE_GITEA_SERVER: "https://gitea.${DOMAIN_NAME}"
      DRONE_SERVER_HOST: "drone.${DOMAIN_NAME}"
      DRONE_SERVER_PROTO: "https"
      DRONE_GIT_ALWAYS_AUTH: "true"
    env_file:
      - drone.env
    volumes:
      - "./data/drone:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.drone.loadbalancer.server.port=80"
      - "traefik.http.routers.drone.rule=Host(`drone.${DOMAIN_NAME}`)"
      - "traefik.http.routers.drone.entrypoints=web-secure"
      - "traefik.http.routers.drone.tls.certresolver=letsencrypt"

  drone-runner:
    image: "drone/drone-runner-docker:${DRONE_RUNNER_VERSION}"
    restart: "unless-stopped"
    environment:
      DRONE_RPC_PROTO: "https"
      DRONE_RPC_HOST: "drone.${DOMAIN_NAME}"
      DRONE_RUNNER_CAPACITY: "2"
      DRONE_RUNNER_NAME: "drone-runner"
    env_file:
      - drone.env
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
