---
# Where all application data will be stored.
# This must be a persistent folder. 
# Changing it may cause loss of data.
data_dir: '/var/lib/homelab-ansible/temp'

# Name of the project that all Docker containers will use.
# Think of it as a namespace.
# Changing this is not allowed!
project_name: 'example'

# Domain name to be used by your apps. This is mostly used
# by Traefik. Changing this is allowed. Will result in 
# all internet facing Docker containers to be re-deployed.
domain_name: 'example.com'

# Docker specific settings
docker:
  
  # Must be a valid Docker URI.
  # This will be used on your host where Ansible is deploying
  # your applications to. This is not Docker host of your machine 
  # where Ansible is running. Unless you are deploying to localhost.
  host: 'unix://var/run/docker.sock'

  # Disable TLS certificate validation
  tls_verify: False

  # Path to the certs
  cert_path: ''
