---
images: 
  traefik: 'docker.io/library/traefik:v2.1'
  haste: 'docker.io/jonasled/haste-server:latest'
  postgres: 'docker.io/library/postgres:11'
  portainer: 'docker.io/portainer/portainer:latest'
  portainer_agent: 'docker.io/portainer/agent:latest'
  openldap: 'docker.io/osixia/openldap:latest'
  phpldapadmin: 'docker.io/osixia/phpldapadmin:latest'
  adminer: 'docker.io/library/adminer:latest'
  mongo: 'docker.io/library/mongo:latest'
  filebrowser: 'docker.io/filebrowser/filebrowser:latest'
  devdocs: 'docker.io/devdocs/devdocs:latest'
