---
images: 
  traefik: 'docker.io/library/traefik:v2.1'
  haste: 'docker.io/jonasled/haste-server:latest'
  postgres: 'docker.io/library/postgres:11'
  portainer: 'docker.io/portainer/portainer:latest'
  portainer_agent: 'docker.io/portainer/agent:latest'
  openldap: 'docker.io/osixia/openldap:latest'
  phpldapadmin: 'docker.io/osixia/phpldapadmin:latest'
  adminer: 'docker.io/library/adminer:latest'
  mongo: 'docker.io/library/mongo:latest'
  filebrowser: 'docker.io/filebrowser/filebrowser:latest'
  devdocs: 'docker.io/devdocs/devdocs:latest'
  nextcloud: 'docker.io/library/nextcloud:apache'
  nextcloud_redis: 'docker.io/library/redis:latest'
  nextcloud_office: 'docker.io/onlyoffice/documentserver:latest'
  matrix_nginx: 'docker.io/library/nginx:latest'
  matrix_synapse: 'docker.io/matrixdotorg/synapse:latest'
  matrix_redis: 'docker.io/library/redis:latest'
  matrix_riot: 'docker.io/vectorim/riot-web:latest'
  matrix_coturn: 'docker.io/instrumentisto/coturn:latest'
