---
jellyfin:
  # LDAP integration
  ldap:
    # Should Jellyfin use LDAP?
    # This will be used as a secondary authentication provider.
    enabled: true

    # Name of the LDAP group that the users must be part of in order
    # to log in into Jellyfin. Does not affect the "admin" user.
    group: "jellyfin"

  # The user ID to use for accessing media.
  # The Jellyfin will act on behalf of this user on your host path.
  uid: 0

  # The user group ID to use for accessing media.
  # The Jellyfin will act on behalf of this group on your host path.
  # If you are using Samba share and you would like for Jellyfin
  # to access it, you probably will have to use group ID of 118.
  gid: 0

  # The umask that Jellyfin should apply when creating files.
  umask: "022"
  
  # The folder that the Jellyfin will be able to access for media.
  media: '/home'

  # Should the mounted path be read only?
  read_only: false
