---
ldap:
  
  # Name of the organization for LDAP.
  # This does not affect things, it's for information only.
  # Can not be changed later!
  organisation: "Example"

  # Domain component of LDAP. This should match your
  # domain_name variable. Must start with "dc=".
  # Can not be changed later!
  domain: "dc=example,dc=com"

  # Name of the organization unit that will contain all users.
  # Changing this is allowed but not recommended.
  users_unit: "users"

  # Name of the organization unit that will contain all application groups.
  # Changing this will result in existing LDAP users to not be 
  # able to log in into your applications. You will have to add them to this
  # newly renamed group. Your users must belong to an application group
  # in order to log in into that particular application that used LDAP.
  groups_unit: "groups"
