---
traefik:
  # Docker settings for Traefik.
  # Traefik will use this Docker URI to connect to.
  # It uses Docker to check for container labels,
  # and will use that information to construct routes and middlewares.
  # Traefik must be able to connect to this.
  docker:
    
    # The Docker socket that is on the host.
    host: '/var/run/docker.sock'
  
  # HTTPS config. At least one of HTTP/HTTPS
  # must be enabled.
  https:
    # Enable HTTPS?
    enabled: true

    # Host's port at which HTTPS will be available.
    # Does not affect port inside of Traefik's container.
    port: 443

  http: 
    # Enable HTTP?
    enabled: true

    # Host's port at which HTTP will be available.
    # Does not affect port inside of Traefik's container.
    port: 80

  # A web dashboard that users can access.
  # Will show the current middlewares and routes that
  # Traefik is using. Not used for configuration.
  dashboard:
    # Enable dashboard?
    enabled: true

    # Use Authelia in order to access the dashboard?
    # The dashboard is available to anyone on its own.
    # We can use Authelia to redirect users to log in 
    # in order to access it. Uses LDAP in the background.
    authelia: false

  # Certificate resolvers
  acme:
    # Should Traefik ask Let's Encrypt for a SSL certificate?
    # You must own your domain specified in "domain_name" variable.
    # You also must expose port 80 & 443 to the internet with portforwarding.
    # Let's Encrypt must be able to access your Traefik for certificate validation.
    enabled: false

    # Email to use by Let's Encrypt to generate SSL certificates for.
    # Must be your own email. You don't need a Let's Encrypt account.
    email: 'email@example.com'

  # Enable Prometheus metrics?
  # Will be exposed at http://traefik/metrics accessible
  # only within the Docker network.
  # Will be also exposed at https://traefik.example.com/metrics 
  # accessible by anyone. You can limit access with Authelia.
  # Works just like the dashboard.
  metrics:
    enabled: true

  # Additional middlewares to use by Traefik.
  middlewares:

    # Automatically redirect HTTP requests to HTTPS.
    # Applications can be only accessed by HTTPS if HTTPS is enabled.
    # Connecting to an application by HTTP and https_redirect=false will not work.
    # Does not affect Docker's internal network communication.
    https_redirect: true

    # If you have a dashboard, that uses iframes to view your applications,
    # you will need to enable this.
    allow_frame: true
