# Please encrypt this file with Ansible by creating your own vault.
# Use these variables below as placeholders but use your own passwords!
#
# To create random password:
#    $ openssl rand -base64 16
#
# To create your vault:
#    $ export EDITOR=nano
#    $ ansible-vault create group_vars/homelab/vault.yml
# 
# You will need to provide password for the vault when creating it.
# And during executing Ansible playbook, use:
#    $ ansible-playbook site.yml [...] --ask-vault-pass
---
passwords:
  # This password will be used for the "postgres" user that has the
  # highest privileges. Will be used to create databases and to populate data.
  # The apps will use their own users.
  # This password can not be changed later in here, you must do that 
  # through the psql command yourself and then update it here.
  postgres_admin: "Password1!"

  # This password will be used for communication between Portainer
  # and portainer agent. Changing this is allowed.
  portainer_agent: "Password1!"

  # This password will be used for the "admin" user in Portainer.
  # This user is created when Portainer is run for the first time.
  # This password can not be changed later in here, you must do that 
  # through the app yourself and then update it here.
  portainer_admin: "Password1!"

  # This password is for the root user named "cn=admin,dc=example,dc=com" in LDAP.
  # This password can not be changed later in here, you must do that 
  # through the app yourself and then update it here.
  ldap_admin: "Password1!"
  
  # This password is for Mongo database.
  # This password can not be changed later in here, you must do that 
  # through the app yourself and then update it here.
  mongo_root: "Password1!"

  # This password is for File Browser
  # This password can not be changed later in here, you must do that 
  # through the app yourself and then update it here.
  filebrowser_admin: "Password1!"
  
  # This password is for NextCloud
  # This password can not be changed later in here, you must do that 
  # through the app yourself and then update it here.
  nextcloud_admin: "Password1!"
  
  # Password to be used by NextCloud when connecting to database.
  # A database with a nextcloud user will be created using this password.
  # Changing this must be done manually via psql and you will have to update NextCloud config files.
  nextcloud_database: "Password1!"
  
  # This is used for communication between NextCloud and OnlyOffice
  nextcloud_office_jwt: "Password1!"

  # Registration shared secret for Matrix - Synapse
  # Must be a strong random string with length of 50 characters
  # Don't use the one from this sample! Generate your own!
  matrix_registration_secret: "5vpdd8kFjX3wntKBgNzHzecj34QqeytAavdwxduAXwwu2quMhE"

  # Macaroon shared secret for Matrix - Synapse
  # Must be a strong random string with length of 50 characters
  # Don't use the one from this sample! Generate your own!
  matrix_macaroon_secret: "csRC6eFY5JT5BbKLsLsupFtb79nzwFrKeHEHcN5ULyHE8ZDbTv"

  # Form secret for Matrix - Synapse
  # Must be a strong random string with length of 50 characters
  # Don't use the one from this sample! Generate your own!
  matrix_form_secret: "cJstDuMJJnXsQP2yQFXLNTjmtDLRceZ8e8MdHuX7gmWzRfahp2"

  # Shared secret for Matrix - Coturn
  # Must be a strong random string with around a length of 50 characters
  # Don't use the one from this sample! Generate your own!
  matrix_coturn_secret: "GhtjYEhKsyw3g3ggRYKvDMyhJWPtvWUXgZsBKfV9pcLDZn7wf6"
  
  # Password for the Synapse database in Postgres
  # This is for user role "synapse"
  matrix_database: "Password1!"

  # Password for the Synapse - Redis communication
  matrix_redis: "Password1!"
  
  # Password for the Matrix Hangouts bridge database in Postgres
  # This is for user role "matrix_hangouts"
  matrix_hangouts_database: "Password1!"
  
  # Password for the Matrix Discord bridge database in Postgres
  # This is for user role "matrix_discord"
  matrix_discord_database: "Password1!"
  
  # Password for the Matrix Facebook bridge database in Postgres
  # This is for user role "matrix_facebook"
  matrix_facebook_database: "Password1!"

  # Password for the Matrix Signal bridge database in Postgres
  # This is for user role "matrix_signal"
  matrix_signal_database: "Password1!"
  
  # Password to be used by Jellyfin when connecting to database.
  # A database with a jellyfin user will be created using this password.
  # Changing this must be done manually via psql and you will have to update Jellyfin config files.
  jellyfin_database: "Password1!"

  # Password for the admin user in Jellyfin
  # The admin password user will be created automatically
  jellyfin_admin: "Password1!"
