http:
  middlewares:
    {% if traefik_middlewares_https_redirect -%}
    httpsredirect:
      redirectScheme:
        scheme: https
        permanent: true
    {% endif %}
    
    {% if traefik_middlewares_allow_frame -%}
    allowframe:
      headers:
        contentSecurityPolicy: "upgrade-insecure-requests, frame-ancestors 'self' *.{{ domain_name }}"
    {% endif %}
