{% if traefik_middlewares_https_redirect -%}
http:
  routers:
    {% if traefik_middlewares_https_redirect -%}
    redirecttohttps:
      entryPoints:
        - "web"
      middlewares:
        - "httpsredirect"
      rule: "HostRegexp(`{host:.+}`)"
      service: "noop"
    {% endif %}
{% endif %}
